<div class="row">
  <div class="col-md-9">
    <p><p><h1><%= t('sufia.product_name') %> Graduate Student Frequently Asked Questions</h1></p></p>

    <p><p><a href="#where">1. Where do I deposit my scholarship?</a></p></p>
    <p><a href="#how">2. How do I deposit my thesis or dissertation into <%= t('sufia.product_name') %>?</a></p>
    <p><a href="#copyright">3. Do I retain the copyright to my work in <%= t('sufia.product_name') %>?</a></p>
    <p><a href="#use">4. Can I use my thesis or dissertation for an article or full-length manuscript even if it’s freely available in <%= t('sufia.product_name') %>?</a></p>

    <p><p><h2><a id="where" title="where" name="where"></a>1. Where do I deposit my scholarship?</h2></p></p>

    <p>Graduate students with a <em>thesis or dissertation requirement</em> should deposit their scholarship to the Electronic Theses and Dissertations <a href="http://ir.library.oregonstate.edu/xmlui/handle/1957/89">Collection</a>. 

    <p>Graduate students with a <em>research paper requirement</em> should deposit their scholarship to their department’s graduate work collection. Contact your advisor or <mailto="scholarsarchive@oregonstate.edu">scholarsarchive@oregonstate.edu</a> for additional information.
    </p>

    <p><h2><a id="how" title="how" name="how"></a>2. How do I deposit my thesis or dissertation into <%= t('sufia.product_name') %>?</p></h2>
    <p>Current graduate students can find instructions for depositing their thesis or dissertation <a href="http://oregonstate.edu/dept/grad_school/etd_guide.php">here</a>. </p>

    <p>Pre-2007 OSU alumni can request to have their thesis or dissertation digitized and added to <%= t('sufia.product_name') %> by contacting <mailto="scholarsarchive@oregonstate.edu">scholarsarchive@oregonstate.edu</a>. 
    </p>

    <p><h2><a id="copyright" title="copyright" name="copyright"></a>3. Do I retain the copyright to my work in <%= t('sufia.product_name') %>?</p></h2>

    <p>Yes, depositing your work into<%= t('sufia.product_name') %> doesn’t require you to assign copyright to OSU and/or OSU Libraries. You only need to agree to the Distribution License. 
    </p>

    <p><h2><a id="use" title="use" name="use"></a>4. Can I use my thesis or dissertation for an article or full-length manuscript even if it’s freely available in <%= t('sufia.product_name') %>?</p></h2>

    <p>That depends. Articles and books related to theses and dissertations are often substantially different from the original work, and publishers are generally not concerned with earlier online versions. Publisher policies vary widely, however, and you should contact publishers with whom you may want to publish before you complete your submission. 
    </p>


  </div>

  <div class="col-md-3">
    <%= render partial: '/help_context' %>
  </div><!-- col-xs-3 -->
</div><!-- row -->

