


<div class="row">
  <div class="col-md-9">

    <p><p><h1><%= t('sufia.product_name') %> Undergraduate Student Frequently Asked Questions</h1></p></p>

    <p><p><h2><a id="how" title="how" name="how"></a>1. How do I deposit my research into <%= t('sufia.product_name') %>?</h2></p></p>

    <p>Undergraduates need to contact a faculty member, their advisor or <mailto="scholarsarchive@oregonstate.edu">scholarsarchive@oregonstate.edu</a> to deposit their research to <%= t('sufia.product_name') %>.</p>

    <p>Undergraduate collections include:
    <ul>
    <li>Bioresource Research Theses</li>
    <li>Celebration of Undergraduate Excellence Research Papers</li>
    <li>Honors College Theses</li>
    <li>International Degree Theses</li>
    <li>Library Undergraduate Research Awards</li>
    <li>Undergraduate Research, Scholarship and the Arts</li>
    </ul>
    </p>

    <p><h2><a id="copyright" title="copyright" name="copyright"></a>2. Do I retain the copyright to my work in <%= t('sufia.product_name') %>?</p></h2>

    <p>Yes, depositing your work into<%= t('sufia.product_name') %> doesn’t require you to assign copyright to OSU and/or OSU Libraries. You only need to agree to the Distribution License. 
    </p>


      </div>

  <div class="col-md-3">
    <%= render partial: '/help_context' %>
  </div><!-- col-xs-3 -->
</div><!-- row -->
