<div>
  <div class="featured-item-title">
    <span class="sr-only"><%= t('hyrax.homepage.featured_works.document.title_label') %></span>
    <h3>
      <%= link_to [main_app, featured] do %>
        <%= render_thumbnail_tag(featured, {width: 90}, {suppress_link: true}) + featured.title.first %>
      <% end %>
    </h3>
  </div>
  <div class="featured-field featured-item-depositor">
    <span class="featured-label"><%= t('hyrax.homepage.featured_works.document.depositor_label') %>:</span> <%= link_to_profile featured.depositor(t('hyrax.homepage.featured_works.document.depositor_missing')) %>
  </div>
<%# OVERRIDE: (2018-10-16) Changed keywords to Subject %>
  <div class="featured-field featured-item-subject">
    <span class="featured-label"><%= t('hyrax.homepage.featured_works.document.subject_label') %>:</span> <%= link_to_facet_list(featured.subject, 'subject', t('hyrax.homepage.featured_works.document.subject_missing')) %>
  </div>
</div>
