<li class="recent-item">
  <div class="row">
    <div class="col-md-2">
      <%= link_to [main_app, recent_document] do %>
        <%= document_presenter(recent_document)&.thumbnail&.thumbnail_tag(
          { width: 90, alt: "#{recent_document} #{ t('hyrax.homepage.admin_sets.thumbnail')}" },
          { suppress_link: true }
        ) %><%= recent_document %>
      <% end %>
    </div>
    <div class="col-md-10">
      <span class="sr-only"><%= t('hyrax.homepage.recently_uploaded.document.title_label') %></span><h3><%= link_to recent_document.to_s, [main_app, recent_document] %></h3>
      <p>
        <span class="recent-label"><%= t('hyrax.homepage.recently_uploaded.document.creator_label') %>:</span> <%= link_to_facet_list(recent_document.creator.first(5), 'creator', t('hyrax.homepage.recently_uploaded.document.creator_missing')).html_safe %>
      </p>
      <p>
        <span class="recent-label"><%= t('hyrax.homepage.recently_uploaded.document.subject_label') %>:</span> <%= link_to_facet_list(recent_document.subject.first(5), 'subject', t('hyrax.homepage.recently_uploaded.document.subject_missing')).html_safe %>
      </p>
    </div>
  </div>
</li>
