<p>Dear Admin,</p>
<p>One of the user: <%= @accessibility_form.name%>, is asking to request an accessibility on one of the work on Scholars Archive.</p>
<br/>
<p>Here is a copy of the information that was provided about this request:</p>
<br/>
<p>User's Email: <%= @accessibility_form.email %></p>
<p>Item's Link: <%= @accessibility_form.url_link %></p>
<p>Request Detail: <%= @accessibility_form.details %></p>
<p>Additional Detail: <%= @accessibility_form.additional.blank? ? 'None' : @accessibility_form.additional %></p>
<p>Date Needed: <%= @accessibility_form.date.blank? ? 'None' : @accessibility_form.date %></p>
