<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">
        <p><%= t('hyrax.footer.service_html') %></p>
        <p><%= t('hyrax.footer.contact_info_html') %></p>
        <p><%= t('hyrax.footer.links_html') %></p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <p>Powered by Hyrax <%= Hyrax::VERSION %></p>
        <p><%= t('hyrax.footer.copyright_html') %></p>
        <p class='deployed'><%= render partial: 'shared/application_revision' %></p>
      </div>

      <%# NAVBAR-IMAGE: Add in the Core Trust Seal onto Scholars Archive %>
      <div class="navbar-image">
        <%= link_to "https://www.coretrustseal.org/wp-content/uploads/2022/09/20220922-ScholarsArchive@OSU_final.pdf" do %>
          <%= image_tag("CoreTrustSeal-logo-transparent.png", size: "80x80", alt: "Core Trust Seal Logo (PDF)") %>
        <% end %>
      </div>
    </div>
  </div>
</footer>
