<div class="modal worktypes fade" id="worktypes-to-create" tabindex="-1" role="dialog" aria-labelledby="select-worktype-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('hyrax.dashboard.heading_actions.close') %>"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="select-worktype-label"><%= t('hyrax.dashboard.heading_actions.select_type_of_work') %></h2>
      </div>
      <form class="new-work-select">
        <div class="modal-body">
          <% model_list_fixed = fixed_work_type_order(create_work_presenter) %>
          <div class="row match-my-cols">
            <div class="col-md-12">
              <% model_list_fixed.each_slice(2) do |row_presenter| %>
                <div class="row">
                  <div class="col-md-6 select-worktype">
                    <% if row_presenter[0]["visibility"] || !row_presenter[0]["model"].nil? %>
                      <%= render partial: 'shared/select_work_type_cell', locals: {presenter: row_presenter[0]["model"]} %>
                    <% end %>
                  </div>
                  <div class="col-md-6 select-worktype">
                    <% if row_presenter[1]["visibility"] || !row_presenter[1]["model"].nil? %>
                      <%= render partial: 'shared/select_work_type_cell', locals: {presenter: row_presenter[1]["model"]} %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('hyrax.dashboard.heading_actions.close') %></button>
          <input type="submit" class="btn btn-primary" value="<%= t('hyrax.dashboard.heading_actions.create_work') %>">
        </div>
      </form>
    </div>
  </div>
</div>
