<div class="row <%= classname %>">
  <div class="col-md-12 select-worktype">
    <h3>Other Scholarly Content</h3>
  </div>
</div>
<div class="row <%= classname %>">
  <div class="col-md-6 select-worktype">
    <%= render partial: 'shared/select_work_type_cell', locals: {presenter: presenters[TechnicalReport]} %>
  </div>
  <div class="col-md-6 select-worktype">
    <%= render partial: 'shared/select_work_type_cell', locals: {presenter: presenters[Dataset]} %>
  </div>
</div>
<div class="row <%= classname %>">
  <div class="col-md-6 select-worktype">
    <%= render partial: 'shared/select_work_type_cell', locals: {presenter: presenters[Default]} %>
  </div>
  <div class="col-md-6 select-worktype">
  </div>
</div>

