<div class="modal worktypes fade" id="worktypes-to-create" tabindex="-1" role="dialog" aria-labelledby="select-worktype-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('hyrax.dashboard.heading_actions.close') %>"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="select-worktype-label"><%= t('hyrax.dashboard.heading_actions.select_type_of_work') %></h2>
      </div>
      <form class="new-work-select">
        <div class="modal-body">
          <ul>
            <% presenters = fixed_work_type_order(create_work_presenter) %>
            <li>
              <%= render partial: 'shared/select_work_type_graduate_students', locals: {presenters: presenters, classname: 'worktype-row'} %>
            </li>
            <li>
              <%= render partial: 'shared/select_work_type_undergrad_students', locals: {presenters: presenters, classname: 'worktype-row'} %>
            </li>
            <% if !current_user.student? || current_user.student_employee? || current_user.admin? %>
              <li>
                <%= render partial: 'shared/select_work_type_faculty_article_deposits', locals: {presenters: presenters, classname: 'worktype-row'} %>
              </li>
            <% end %>
            <li>
              <%= render partial: 'shared/select_work_type_other_scholarly_content', locals: {presenters: presenters, classname: 'worktype-row'} %>
            </li>
            <% if !current_user.student? || current_user.student_employee? || current_user.admin? %>
              <li>
                <%= render partial: 'shared/select_work_type_administrator', locals: {presenters: presenters, classname: 'worktype-row'} %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="modal-footer help-text">
          <%= render partial: 'shared/select_work_type_help' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('hyrax.dashboard.heading_actions.close') %></button>
          <input type="submit" class="btn btn-primary" value="<%= t('hyrax.dashboard.heading_actions.create_work') %>">
        </div>
      </form>
    </div>
  </div>
</div>
