<% provide :page_title, construct_page_title("Work Analytics: #{@stats.model.title.first}") %>

<!-- Adapted from jquery-flot examples https://github.com/flot/flot/blob/master/examples/visitors/index.html -->
<%= javascript_tag do %>
  var hyrax_item_stats = <%= @stats.to_flot.to_json.html_safe %>;
<% end %>

<%= content_tag :h1, @stats, class: "lower" %>

<div class="row">
  <div class="col-sm-12">
    <%= content_tag :h2, "Work Analytics" %>
    <div class="alert alert-info">
      <i class="glyphicon glyphicon-info-sign large-icon"></i>
      <p>
        Analytics shown are from Fall 2017 onward. Pre-fall 2017 analytics may be accessed by contacting the repository administrator at <a href="mailto:scholarsarchive@oregonstate.edu">scholarsarchive@oregonstate.edu</a>. In that email, please provide links to the item you would like analytics for and what specific analytics you are looking for.
        <br><br>
        Thank you for your patience while we work to incorporate legacy analytics information into our new repository platform.
      </p>
    </div>
    <div class="alert alert-info">
      <i class="glyphicon glyphicon-signal large-icon"></i>
      <%= content_tag :strong, @stats.total_pageviews %> views since <%= @stats.created.strftime("%B %-d, %Y") %>
    </div>
    <div class="stats-container">
      <div id="usage-stats" class="stats-placeholder"></div>
    </div>
    <div class="stats-container" style="height:150px;">
      <div id="overview" class="stats-placeholder"></div>
    </div>
  </div>
</div>
