<% provide :page_title, construct_page_title("Work Analytics: #{@stats.model.title.first}") %>

<!-- Adapted from jquery-flot examples https://github.com/flot/flot/blob/master/examples/visitors/index.html -->
<%= javascript_tag do %>
  var hyrax_item_stats = <%= @stats.to_flot.to_json.html_safe %>;
<% end %>

<%= content_tag :h1, @stats, class: "lower" %>

<div class="row">
  <div class="col-sm-12">
    <%= content_tag :h2, "Work Analytics" %>
    <div class="alert alert-info">
      <i class="glyphicon glyphicon-signal large-icon"></i>
      <% if @stats.model.date_available.present? %>
        <%= content_tag :strong, @stats.total_pageviews %> since <%= @stats.model.date_available.strftime("%B %-d, %Y") %> 
      <% else %>
        <%= content_tag :strong, @stats.total_pageviews %> since <%= @stats.created.strftime("%B %-d, %Y") %>
      <% end %>
    </div>
    <div class="stats-container">
      <div id="usage-stats" class="stats-placeholder"></div>
    </div>
    <div class="stats-container" style="height:150px;">
      <div id="overview" class="stats-placeholder"></div>
    </div>
  </div>
</div>
