<h1>
    <%= "Test Torrent" %>
</h1>

<%= form_for @torrent_form, url: torrent_form_index_path,
                            html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :name, "Name Test", class: "col-sm-2 control-label" %>
    <div class="col-sm-10"><%= f.text_field :name, value: user_signed_in? ? current_user.name : "", class: 'form-control', required: true %></div>
  </div>

  <div class="form-group">
    <%= f.label :email, "Email Test", class: "col-sm-2 control-label" %>
    <div class="col-sm-10"><%= f.text_field :email, value: user_signed_in? ? current_user.email : '', class: 'form-control', required: true %></div>
  </div>

  <div class="form-group">
    <%= f.label :message, "Message Test", class: "col-sm-2 control-label" %>
    <div class="col-sm-10"><%= f.text_area :message, rows: 4, class: 'form-control', required: true %></div>
  </div>

  <%= f.submit value: "Submit Test", class: "btn btn-primary" %>
<% end %>