<tr data-id="<%= term.to_s %>" class="date_field <%= term.to_s %>  <%= date_range?(term, f) ? 'date-range' : 'date-default' %>">
  <td>

    <div id="date_field_inputs_<%= term.to_s %>">
      <div class="row">
        <div class="col-sm-12">
          <div class="date-input <%= date_range?(term, f) ? 'date-range' : 'date-default' %>">
            <%= f.input term, required: f.object.required?(term), placeholder: date_range?(term, f) ? 'Date range' : 'YYYY-mm-dd' %>
          </div>
        </div>
      </div>
      <div class="row date-range-inputs">
        <% if date_range?(term, f) %>
          <%= render partial: 'scholars_archive/base/form_date_range_widget', :locals => { term: term } %>
        <% end %>
      </div>

    </div>

    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input toggle_date_range" type="checkbox" data-id="<%= term.to_s %>" name="toggle_date_range" value="" <%= date_range?(term, f) ? checked="checked" : "" %>>
        Date range
      </label>
    </div>
  </td>
  <td>
    <button class="btn btn-danger remove_date_type <%= date_range?(term, f) ? 'date-range' : 'date-default' %>" data-id="<%= term.to_s %>">
      <span aria&#45;hidden="true"><i class="glyphicon glyphicon&#45;trash"></i></span>
    </button>
  </td>
</tr>
