<div id="geo_wrapper">
  <div class="row">
    <legend>Geographic coordinates</legend>
    <div class="warning-anchor"></div>
    <div class="col-sm-6">
      <%= select_tag_geo(:new_geo_type, f) if @curation_concern.instance_of?(BatchUploadItem) == false  %>
      <!-- Disabling the Geo related fields (:nested_geo, :nested_bbox) here for now since they don't work well with -->
      <!-- Batch uploads (nested geo fields need some special processing/parsing that currently happen in -->
      <!-- ScholarsArchive::WorksControllerBehavior. BatchUploadItem is managed in a separate controller.  -->
      <!-- TODO: Move the special nested geo processing work to a new actor so that BatchUploadItem is able to save -->
      <!-- these fields properly. Once that's done, we can enable select_tag_geo in this vew again for BatchUploadItem. -->
    </div>
  </div>
  <div id="geo_fields">
    <div class="col-sm-12">
      <table class="table">
        <thead>
        <tr>
          <th>Coordinates</th>
          <th>Remove</th>
        </tr>
        </thead>
        <tbody>
          <% coordinates = f.object.model.nested_geo.select { |t| t.present? } %>
          <% coordinates.group_by {|c| c.type }.each do |type, coordinates_group| %>
              <% if type == :bbox.to_s %>
                  <%= render partial: 'scholars_archive/base/nested_geo_bbox', :locals => { f: f, coordinates_group: coordinates_group } %>
              <% end %>
              <% if type == :point.to_s %>
                  <%= render partial: 'scholars_archive/base/nested_geo_points', :locals => { f: f, coordinates_group: coordinates_group } %>
              <% end %>
          <% end %>

          <!-- Rendering the Location field (:based_near) here for now, so that it's in the same section with other  -->
          <!-- geo related fields. TODO: Add this field (:based_near) to the select_tag_geo dropdown so that it is -->
          <!-- part of the same form element in this section, see related issue #635 in GitHub -->
          <tr data-id="based_near" class="geo_field based_near">
            <td>
              <%= render_edit_field_partial(:based_near, f: f) %>
            </td>
          </tr>
          <tr data-id="hydrologic_unit_code" class="geo_field hydrologic_unit_code">
            <td>
              <%= render_edit_field_partial(:hydrologic_unit_code, f: f) %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

