<fieldset>
  <li class="field-wrapper input-group input-append">
    <% if a.object %>
        <% unless a.object.new_record? %>
            <%= a.input :id, :as => :hidden %>
        <% end %>
    <% end %>

    <%= a.input :label, label: false, aria: { label: 'Label' }, placeholder: "Label", input_html: {value: a.object.label.first, class: 'bbox_nested'}, :wrapper_html => {:class => "col-xs-12 bbox_field"} %>
    <%= a.input :bbox, as: :hidden, label: false, aria: { label: 'Bounding Box' }, placeholder: "Bounding Box", input_html: {value: a.object.bbox.first, class: 'nested_field'}, :wrapper_html => {:class => "col-xs-12 bbox_field"} %>

    <%= a.input :bbox_lat_north, label: false, aria: { label: 'Latitude North' }, :placeholder => "Latitude North", input_html: {class: 'bbox_nested'}, :wrapper_html => {:class => "col-xs-6"} %>
    <%= a.input :bbox_lon_west, label: false, aria: { label: 'Longitude West' }, :placeholder => "Longitude West", input_html: {class: 'bbox_nested'}, :wrapper_html => {:class => "col-xs-6"} %>
    <%= a.input :bbox_lat_south, label: false, aria: { label: 'Longitude South' }, :placeholder => "Latitude South", input_html: {class: 'bbox_nested'}, :wrapper_html => {:class => "col-xs-6"} %>
    <%= a.input :bbox_lon_east, label: false, aria: { label: 'Longitude East' }, :placeholder => "Longitude East", input_html: {class: 'bbox_nested'}, :wrapper_html => {:class => "col-xs-6"} %>

    <span class="input-group-btn field-controls">
      <% unless a.object.new_record? %>
        <%= a.hidden_field :_destroy %>
      <% end %>
      <button type="button" class="btn btn-danger remove remove_entry" data-id="nested_geo_bbox">
        <%# REPLACE: Add in the trashcan icon rather than the link icon %>
        <span aria&#45;hidden="true"><i class="glyphicon glyphicon&#45;trash"></i></span>
        <span class="sr-only"> previous <span class="controls-field-name-text"> Title</span></span>
      </button>
    </span>

  </li>
</fieldset>
