<fieldset>
  <li class="field-wrapper input-group input-append">
    <% if a.object %>
        <% unless a.object.new_record? %>
            <%= a.input :id, :as => :hidden %>
        <% end %>
    <% end %>

    <%= a.input :label, label:false, aria: { label: "Label" }, placeholder: "Label", input_html: {value: a.object.label.first, class: 'bbox_nested'}, :wrapper_html => {:class => "col-xs-12"} %>
    <%= a.input :point, as: :hidden, label:false, aria: { label: "Point" }, placeholder: "Point", input_html: {value: a.object.point.first, class: 'bbox_nested'}, :wrapper_html => {:class => "col-xs-12"} %>
    <%= a.input :point_lat, label:false, aria: { label: "Latitude" }, placeholder: "Latitude", input_html: {value: a.object.point_lat, class: 'bbox_nested'}, :wrapper_html => {:class => "col-xs-6"} %>
    <%= a.input :point_lon, label:false, aria: { label: "Longitude" }, placeholder: "Longitude", input_html: {value: a.object.point_lon, class: 'bbox_nested'}, :wrapper_html => {:class => "col-xs-6"} %>

    <span class="input-group-btn field-controls">
      <% unless a.object.new_record? %>
        <%= a.hidden_field :_destroy %>
      <% end %>
      <button type="button" class="btn btn-danger remove remove_entry" data-id="nested_geo_points">
        <%# REPLACE: Add in the trashcan icon rather than the link icon %>
        <span aria&#45;hidden="true"><i class="glyphicon glyphicon&#45;trash"></i></span>
        <span class="sr-only"> previous <span class="controls-field-name-text"> Title</span></span>
      </button>
    </span>
  </li>
</fieldset>
