<tr data-id="nested_geo_points" class="geo_field nested_geo_points">
  <td>
    <div class="geo-input">
      <label class="control-label select optional" for="default_work_resource_type"><%= t('simple_form.labels.defaults.nested_geo_points').pluralize %></label>
      <p class="help-block"><%= t('simple_form.hints.defaults.nested_geo_points') %></p>
      <ul class="listing" aria-live="polite">

        <%= f.fields_for :nested_geo, coordinates_group.sort_by{|c| c.label.first} do |a| %>
            <%= render partial: 'scholars_archive/base/geo_point', :locals => { a: a } %>
        <% end %>

        <button name="button" type="button" class="btn btn-link add add_entry" data-id="new-geo-point" data-term="nested_geo_points">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="controls-add-text">Add another <%= t('simple_form.labels.defaults.nested_geo_points') %></span>
        </button>
      </ul>
    </div>
  </td>
  <td>
    <button class="btn btn-danger remove_geo_type" data-id="nested_geo_points">
      <span aria&#45;hidden="true"><i class="glyphicon glyphicon&#45;trash"></i></span>
    </button>
  </td>
</tr>
