<header aria-label="header" class="top-header">
  <nav id="masthead" class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between <%= placement_class %>" role="navigation" aria-label="masthead">
    <!-- Brand and toggle get grouped for better mobile display -->
    <%= render '/logo' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="display:inline-block"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="top-navbar-collapse">
      <%= render '/user_util_links' %>
    </div>
  </nav>
  <div id="lower-banner-border-masthead">
    <span class="group-header institution_name">
      <h1><a href="<%= hyrax.root_path %>" data-no-turbolink="true"><%= application_name %></a></h1>
    </span>
  </div>
</header>
