<%# VIEW: Add in the index page of  Favorite Collections %>
<% provide :page_title, t("hyrax.dashboard.my.favorite_collections") %>

<% provide :page_header do %>
  <h1><span class="fa fa-folder-open" aria-hidden="true"></span> <%= t("hyrax.dashboard.my.favorite_collections") %></h1>
<% end %>

<div class="collections-wrapper">
  <section class="tabs-row">
    <!-- Page tabs -->
    <nav><%= render 'hyrax/my/collections/tabs' %></nav>
  </section>

  <%# Favorite Collections list %>
  <div class="panel panel-default collections-panel-wrapper">
    <div class="panel-heading">
      <% if  current_page?(hyrax.my_collections_path(locale: nil)) %>
        <span class="count-display"><%= I18n.t('hyrax.my.count.collections.you_own', total_count: @response.total_count).html_safe %></span>
      <% elsif current_page?(Rails.application.routes.url_helpers.my_favorite_collections_path(locale: nil)) %>
        <span class="count-display"><%= I18n.t('hyrax.my.count.collections.your_favorite', total_count: @favorite_collections.count).html_safe %></span>
      <% elsif current_page?(hyrax.dashboard_collections_path(locale: nil)) && !current_ability.admin? %>
        <span class="count-display"><%= I18n.t('hyrax.my.count.collections.you_manage', total_count: @response.total_count).html_safe %></span>
      <% else %>
        <span class="count-display"><%= I18n.t('hyrax.my.count.collections.in_repo', total_count: @response.total_count).html_safe %></span>
      <% end %>
    </div>
    <div class="panel-body">
      <h2 class="sr-only"><%= t('hyrax.my.count.collections.collections_listing') %></h2>
      <% if @favorite_collections.empty? %>
        <div class="alert alert-info">
          You have no favorite collections yet. Click ☆ on any collection to save it here.
        </div>
      <% else %>
        <%= render 'list_favorite_collections' %>
      <% end %>
    </div>
  </div>
</div>
