<div class="form-inline">
  <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_EMBARGO) %>
  <% embargo_options = embargo_select_options %>
  <% default_option = selected_embargo(curation_concern.embargo_release_date, embargo_options) %>
  <%= f.input :visibility_during_embargo, wrapper: :inline, collection: visibility_options(:restrict), include_blank: false %>
  <%= f.input :embargo_release_date,
              label: t('hyrax.works.form.visibility_until'),
              collection: embargo_options,
              include_blank: true,
              input_html: { id: "embargo_date_select" },
              selected: default_option
  %>
  <%= f.input :embargo_release_date, label_html: { class: 'd-none'}, class: 'form-control', input_html: { class: "datepicker #{ 'd-none' unless default_option == 'other' }" }, placeholder: "yyyy-mm-dd" %>
  <%= f.input :visibility_after_embargo, wrapper: :inline, collection: visibility_options(:loosen), include_blank: false %>
  <%= f.input :embargo_reason, label: "Reason For Embargo", wrapper: :inline, collection: ["Intellectual Property (patent, etc.)", "Pending Publication", "Ongoing Research", "Existing Confidentiality Agreement", "Other..."], input_html: { id: 'embargo_reason_select' } %>
  <%= f.input :embargo_reason, wrapper: :inline, label_html: { class: 'd-none'}, input_html: { class: 'd-none other_field fill_column'}, wrapper_html: {class: 'fill_embargo_column'}, placeholder: "Please input the embargo reason" %>
</div>
