<%# OVERRIDE: (2018-10-15) This file was rebased for Hyrax 2.3.0. Please rebase for future updates. %>
<aside id="form-progress" class="form-progress panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t("hyrax.works.progress.header") %></h3>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      <fieldset>
        <legend class="legend-save-work"><%= t('.requirements') %></legend>
        <ul class="requirements">
          <li class="incomplete" id="required-metadata"><%= t('.required_descriptions') %></li>
          <%# NOTE: the change below for required-files was added on hyrax 2.0.0, so rebase this file %>
          <%# TODO: rebase this file when upgrading to hyrax 2.0.1 or later %>
          <% if Hyrax.config.work_requires_files? && !current_user.admin? %>
            <li class="incomplete" id="required-files"><%= t('.required_files') %></li>
          <% end %>
          <% if Flipflop.show_deposit_agreement? && Flipflop.active_deposit_agreement_acceptance? %>
            <li class="incomplete" id="required-agreement"><%= t('.required_agreement') %></li>
          <% end %>
          <%# REQUIREMENT: Add in a new checking system for the human data %>
          <% if f.object.class.to_s.include?('Dataset') && curation_concern.persisted? == false %>
            <li class="incomplete" id="required-human-data"><%= t('.required_human_data') %></li>
          <% end %>
        </ul>
      </fieldset>
    </div>

    <div class="set-access-controls list-group-item">
      <%= render 'form_visibility_component', f: f %>
    </div>

    <%# NEW FIELD: Add in new space for the human subject data check [ONLY FOR DATASET] %>
    <% if f.object.class.to_s.include?('Dataset') && curation_concern.persisted? == false %>
      <div class="set-access-controls list-group-item">
        <%= render 'form_human_subject_data_component', f: f %>
      </div>
    <% end %>

    <% if Flipflop.proxy_deposit? && current_user.can_make_deposits_for.any? %>
      <div class="list-group-item">
        <%= f.input :on_behalf_of, collection: current_user.can_make_deposits_for.map(&:user_key), prompt: "Yourself" %>
      </div>
    <% end %>
  </div>
  <div class="panel-footer text-center">
    <% if ::Flipflop.show_deposit_agreement? %>
      <% if ::Flipflop.active_deposit_agreement_acceptance? %>
        <label>
          <%= check_box_tag 'agreement', 1, f.object.agreement_accepted, required: true %>
          <%= t('hyrax.active_consent_to_agreement') %><br />
          <%= link_to t('hyrax.pages.tabs.agreement_page'),
                      hyrax.agreement_path,
                      target: '_blank' %>
        </label>
      <% else %>
        <%= t('hyrax.passive_consent_to_agreement') %><br />
        <%= link_to t('hyrax.pages.tabs.agreement_page'),
                    hyrax.agreement_path,
                    target: '_blank' %>
      <% end %>
    <% end %>
    <br />
    <%# TODO: If we start using ActionCable, we could listen for object updates and
              alert the user that the object has changed by someone else %>
    <%= f.input Hyrax::Actors::OptimisticLockValidator.version_field, as: :hidden if f.object.persisted? %>
    <%= f.submit 'Submit', class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "with_files_submit", name: "save_with_files" %>
  </div>

  <%# Provide immediate feedback after the form is submitted while the subsequent page is loading %>
  <div class="panel-footer d-none">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-complete active">
        <span id="form-feedback" aria-live="assertive">Submitting your work. This may take a few moments</span>
      </div>
    </div>
  </div>
</aside>
