<% if f.object.embargo_release_date %>
  <%= render 'form_permission_under_embargo', f: f %>
<% elsif f.object.lease_expiration_date %>
  <%= render 'form_permission_under_lease', f: f %>
<% else %>
    <fieldset>
      <legend class="legend-save-work">Visibility</legend>
      <ul class="visibility">
        <li class="radio">
          <label>
            <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC, data: { 'target': '#collapsePublic' }  %>
            <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC) %>
            <%= t('hyrax.visibility.open.note_html', type: f.object.human_readable_type) %>
            <div class="collapse" id="collapsePublic">
              <%= t('hyrax.visibility.open.warning_html', label: visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC)) %>
            </div>
          </label>
        </li>
        <li class="radio">
          <label>
            <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED %>
            <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED) %>
            <%= t('hyrax.visibility.authenticated.note_html', institution: institution_name) %>
          </label>
        </li>
        <li class="radio">
          <label>
            <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_EMBARGO, data: { 'target': '#collapseEmbargo' } %>
            <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_EMBARGO) %>
            <%= t('hyrax.visibility.embargo.note_html') %>
            <div class="collapse" id="collapseEmbargo">
              <div class="form-inline">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <%= f.input :visibility_during_embargo, wrapper: :inline, collection: visibility_options(:restrict), include_blank: false, selected: f.object.model.class.ancestors.include?(::ScholarsArchive::EtdMetadata) ? Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED : Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-1">
                      <%= t('hyrax.works.form.visibility_until') %>
                    </div>
                    <div class="col-md-2 small-padding">
                      <%= f.input :embargo_release_date, label_html: { class: 'hidden'}, collection: [["6 Months",6.months.from_now], ["1 year",1.year.from_now],["2 Years",2.years.from_now], ["Other...", "other"]], include_blank: true, input_html: { id: "embargo_date_select" }%>
                    </div>
                  </div>
                  <div class="date_picker_wrapper hidden">
                    <%= f.input :embargo_release_date, label_html: { class: 'hidden' }, class: 'form-control', input_html: { class: 'datepicker hidden' }, placeholder: "yyyy-mm-dd" %>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <%= f.input :visibility_after_embargo, wrapper: :inline, collection: visibility_options(:loosen), include_blank: false %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                  <%= f.input :embargo_reason, collection: [["Intellectual Property (patent, etc.)"], ["Pending Publication", "Ongoing Research"], ["Existing Confidentiality Agreement"], ["Other..."]], :prompt => "Please choose a reason for the embargo", label: "Reason For Embargo", wrapper: :inline, input_html: {id: 'embargo_reason_select' } %>
                  <%= f.input :embargo_reason, wrapper: :inline, label_html: { class: 'hidden'}, input_html: { class: 'hidden other_field fill_column'}, wrapper_html: {class: 'fill_embargo_column'}, placeholder: "Please input the embargo reason" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </label>
        </li>
        <li class="radio">
          <label>
            <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE %>
            <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE) %>
            <%= t('hyrax.visibility.restricted.note_html') %>
          </label>
        </li>
      </ul>
    </fieldset>
<% end %>
