<%# TODO: determine these from actual DataCite data instead of the intention field stored in fedora %>
<% disable_do_not_mint = @curation_concern.doi_status_when_public != nil %>
<% disable_draft = @curation_concern.doi_status_when_public.in?(['registered','findable']) %>
<% disable_edits = !current_ability.can?(:update, @curation_concern) %>

<div>
  <% if disable_edits %>
    <div class="alert alert-warning" role="alert">
      DOI information will be provided for you once your dataset has passed review
    </div>
  <% end %>

  <%# Render DOI input as a single field even though it is stored as multivalued %>
  <%= f.input :datacite_doi, input_html: { value: @curation_concern.datacite_doi.first,
                                  disabled: disable_edits,
                                  name: "#{f.object.model_name.param_key}[datacite_doi][]",
                                  style: "max-width: 40em" } %>

  <%# Removed the create draft doi button because we don't want to allow the user to draft DOIs, we create them based on the prefix/id pattern when the work saves %>

  <%= link_to "Autofill form",
              Hyrax::DOI::Engine.routes.url_helpers.autofill_path,
              remote: true,
              method: :get,
              data: {
                confirm: "This operation is destructive and will replace any information already filled in on this form.",
                disable_with: "Autofilling form...",
                params: { curation_concern: curation_concern.class.name.underscore }
              },
              class: 'btn btn-primary',
              id: 'doi-autofill-btn' %>

  <br/><br/><br/>

  <fieldset class="set-doi-status-when-public">
    <label class="control-label">DOI status when work is public</label>

    <div class="form-group" style="margin-left: 20px">
      <label class="radio" style="font-weight: normal">
        <%= f.radio_button :doi_status_when_public, '', disabled: disable_do_not_mint, style: 'margin-top: 0px;' %>
        Do not mint
      </label>
      <label class="radio" style="font-weight: normal">
        <%= f.radio_button :doi_status_when_public, 'draft', disabled: disable_draft || disable_edits, style: 'margin-top: 0px;' %>
        Draft
      </label>
      <label class="radio" style="font-weight: normal">
        <%= f.radio_button :doi_status_when_public, 'registered', disabled: disable_edits, style: 'margin-top: 0px;' %>
        Registered
      </label>
      <label class="radio" style="font-weight: normal">
        <%= f.radio_button :doi_status_when_public, 'findable', disabled: disable_edits, style: 'margin-top: 0px;' %>
        Findable
      </label>
    </div>
  </fieldset>
</div>

<script type="text/javascript">
  // Append the DOI filled in the form to the request
  // Note this uses jQuery since we're using jquery-ujs still
  // There is probably a better way to do this but this works for now
  $("#doi-autofill-btn").on("ajax:beforeSend", function(e, xhr, settings) {
    doi = $('#generic_work_doi').val()
    settings.url = settings.url + "&doi=" + encodeURIComponent(doi)
  });

  $("#doi-create-draft-btn").on("ajax:error", function(e, xhr, status, error) {
    alert(xhr.responseText);
  });

  $("#doi-autofill-btn").on("ajax:error", function(e, xhr, status, error) {
    alert(xhr.responseText);
  });

  // Force the user to confirm using fallback defaults when DataCite mandatory fields
  // not filled in on the deposit form.  This only applies when the DOI is set to become
  // registered or findable.  Let drafts be drafts.
  document.getElementById('with_files_submit').addEventListener("click", function(event){
    if (["findable", "registered"].indexOf(document.querySelector('input[name="generic_work[doi_status_when_public]"]:checked').value) < 0)
      return;

    const empty_fields = [];
    if (document.querySelector('.generic_work_title .form-control').value == "")
      empty_fields.push("Title")
    if (document.querySelector('.generic_work_creator .form-control').value == "")
      empty_fields.push("Creator")
    if (document.querySelector('.generic_work_publisher .form-control').value == "")
      empty_fields.push("Publisher")
    if (document.querySelector('.generic_work_date_created .form-control').value == "")
      empty_fields.push("Date Created")
    if (empty_fields.length == 0)
      return;

    if(!window.confirm("DataCite DOI mandatory fields ("+ empty_fields.join(', ') +") are missing.  Placeholder values will be submitted to DataCite instead.  Do you want to proceed?")){
      event.preventDefault();
      event.stopImmediatePropagation();
    }
  }, false);
</script>
