<%# OVERRIDE: Writing the file to add in a delete all button for file sets %>
<div class="title-line">
  <h2><%= t('.header') %></h2>
</div>

<%# BUTTON: Add in the deletion of all files %>
<div class="btn-line">
  <% if !presenter.file_set_presenters.blank? %>
    <%= link_to "Delete All Files", polymorphic_path([main_app, :destroy_all_files, :hyrax, presenter.model_name.name.downcase.to_sym]), class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete all files?" }, method: :delete %>
  <% end %>
</div>

<%  array_of_ids = presenter.list_of_item_ids_to_display %>
<%  members = presenter.member_presenters_for(array_of_ids) %>
<% if members.present? %>
  <table class="table table-striped related-files">
    <thead>
      <tr>
        <th><%= t('.thumbnail') %></th>
        <th><%= t('.title') %></th>
        <th><%= t('.date_uploaded') %></th>
        <th><%= t('.visibility') %></th>
        <th><%= t('.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'member', collection: members %>
    </tbody>
  </table>
  <div class="row">
    <% if presenter.total_pages > 1 %>
        <div class="row record-padding col-md-9">
          <%= paginate array_of_ids, outer_window: 2, theme: 'blacklight', param_name: :page, route_set: main_app %>
        </div><!-- /pager -->
    <% end %>
  </div>
<% elsif can? :edit, presenter.id %>
    <div class="alert alert-warning" role="alert"><%= t('.empty', type: presenter.human_readable_type) %></div>
<% else %>
  <div class="alert alert-warning" role="alert"><%= t('.unauthorized', type: presenter.human_readable_type) %></div>
<% end %>