<% @content_block = ContentBlock.find_or_create_by(name: "tombstone-#{@presenter.solr_document.id}") %>
<% @content_block.update(value: 'Default') unless @content_block.value.present? %>
<%= displayable_content_block @content_block, class: 'col-sm-offset-2 col-sm-9 col-md-offset-1' %>
<%= @presenter.admin_set.first %>
<% if can?(:manage, @presenter.admin_set.first) %>
  <%= simple_form_for @content_block, url: "/contentblock/update/#{@content_block.name}", html: { class: 'nav-safety' } do |f| %>
    <div class="panel-body">
      <div class="field form-group">
        <%= f.text_area :content, value: f.object.value, class: 'form-control tinymce', rows: 20, cols: 120 %>
      </div>
    </div>
    <div class="panel-footer">
      <%= link_to t(:'hyrax.pages.cancel'), hyrax.admin_admin_sets_path, class: 'btn btn-default pull-right' %>
      <%= f.button :submit, class: 'btn btn-primary pull-right' %>
    </div>
  <% end %>
<% end %>