<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div
  class="cf-turnstile"
  data-sitekey="0x4AAAAAABV2EyZ78_FPOV-m"
  data-callback="javascriptCallback"
></div>

<div class="row work-type">
  <div class="col-xs-12">
    <%= render 'work_type', presenter: @presenter %>
  </div>
  <div class="col-xs-12">&nbsp;</div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-8">
          <%= render 'work_title', presenter: @presenter %>
          </div>
          <div class="col-sm-4 text-right">
          <%= render 'show_actions', presenter: @presenter %>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <% if @presenter.solr_document['workflow_state_name_ssim'] && @presenter.solr_document['workflow_state_name_ssim'].first == 'tombstoned' %>
            <%= render 'tombstoned_work', presenter: @presenter%>
          <% else %>
            <%= render 'workflow_actions_widget', presenter: @presenter %>
            <% if @presenter.universal_viewer? %>
              <div class="col-sm-12">
                <%= render 'representative_media', presenter: @presenter, viewer: true %>
              </div>
            <% end %>
            <div class="col-sm-3 text-center">
              <%= render 'representative_media', presenter: @presenter, viewer: false unless @presenter.universal_viewer? %>
              <%= render 'citations', presenter: @presenter %>
              <%# ADD: Add a new render field for accessibility request %>
              <%= render 'scholars_archive/base/accessibility_request' %>
              <%= render 'social_media' %>
            </div>
            <div class="col-sm-9">
              <%= render 'work_description', presenter: @presenter %>
              <%= render 'metadata', presenter: @presenter %>
            </div>
            <div class="col-sm-12">
              <%= render 'relationships', presenter: @presenter %>
              <%= render 'items', presenter: @presenter %>
              <%# TODO: we may consider adding these partials in the future %>
              <%# = render 'sharing_with', presenter: @presenter %>
              <%# = render 'user_activity', presenter: @presenter %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
